.demo-box {
    margin: 10px;
}

.demo-box-pre {
    text-align: left;
    background-color: #f6f8fa;
    border-radius: 3px;
    overflow: auto;
    padding: 16px;
}

.demo-box-pre, .demo-box-pre * {
    font-family: Courier New,Courier,Lucida Sans Typewriter,Lucida Typewriter,monospace;
    font-size: 16px;
    line-height: 20px;
}

.prop {
    display: block;
    margin-left: 20px;
}

.prop-label {
    display: inline-block;
}

.prop-bracket {
    display: inline-block;
}

/*.bracket-nested {
    display: block;
}*/