.demo-box {
    margin: 10px;
}

.demo-box-pre {
    text-align: left;
    background-color: #f6f8fa;
    border-radius: 3px;
    overflow: auto;
    padding: 16px;
}

.demo-box, .demo-box * {
    font-family: Courier New,Courier,Lucida Sans Typewriter,Lucida Typewriter,monospace;
    font-size: 20px;
    line-height: 20px;
}

.demo-box-prop {
    display: inline-block;
    margin-left: 20px;
}
