.sample-container {
    text-align: center;
    background-color: #DDD;
}

.sample-container pre {
    padding: 10px;
    background-color: #EEE;
    max-width: 600px;
    margin: auto;
    border-radius: 10px;
    font-family: monospace;
    font-size: 16px;
    margin-top: 20px;
    text-align: left;
}