.inline-pre {
    font-family: Courier New,Courier,Lucida Sans Typewriter,Lucida Typewriter,monospace;
    background-color: #f6f8fa;
    border-radius: 3px;
}

pre.syntax {
    text-align: left;
    background-color: #f6f8fa;
    border-radius: 3px;
    overflow: auto;
    padding: 16px;
}

pre.syntax, pre.syntax * {
    font-family: Courier New,Courier,Lucida Sans Typewriter,Lucida Typewriter,monospace;
}

pre.syntax .operator {
    color: #555;
}

pre.syntax .comment {
    color: green;
}

pre.syntax .keyword {
    color: purple;
    font-weight: bold;
}

pre.syntax .string {
    color: brown;
    font-weight: bold;
}

pre.syntax .function {
    color: dodgerblue;
    font-weight: bold;
}

pre.syntax .var {
    color: orangered;
    font-weight: bold;
}

pre.syntax .object, pre.syntax .tag, pre.syntax {
    margin-top: 10px;
}

pre.syntax .object-prop {
    margin-left: 20px;
    min-height: 20px;
    line-height: 20px;
}

.object-prop-name {
    color: lightslategray;
    font-weight: bold;
}

pre.syntax .component {
    color: lightcoral;
    font-weight: bold;
}

.array-items {
    margin-left: 20px;
}