.example {
    display: inline-block;
}

.example-box {
    display: flex;
    justify-content: center;
    align-items: center;
}

.example-box-nav {
    display: inline-block;
}

.example-label {
    position: relative;
    top: -10px;
}