.demo {
}

.demo pre {
    text-align: left;
    background-color: #f6f8fa;
    border-radius: 3px;
    overflow: auto;
    padding: 16px;
}

.demo pre, .demo pre * {
    font-family: Courier New,Courier,Lucida Sans Typewriter,Lucida Typewriter,monospace;
}

.demo pre .operator {
    color: #555;
}

.demo pre .comment {
    color: green;
}

.demo pre .keyword {
    color: purple;
    font-weight: bold;
}

.demo pre .string {
    color: brown;
    font-weight: bold;
}

.demo pre .function {
    color: turquoise;
    font-weight: bold;
}

.demo pre .var {
    color: orangered;
    font-weight: bold;
}

.demo pre .object, .demo pre .tag, .demo pre .imports {
    margin: 10px;
}

.demo pre .object-prop {
    margin-left: 20px;
    height: 20px;
    line-height: 20px;
}

.object-prop-name {
    color: lightslategray;
    font-weight: bold;
}

.demo pre .component {
    color: lightcoral;
    font-weight: bold;
}
