.nav-bar {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    background: #333;
    color: white;
    position: fixed;
    width: 100%;
    z-index: 100;
    top: 0;
    left: 0;
    right: 0;
}

.nav-button {
    height: 40px;
    line-height: 40px;
    text-align: center;
    padding-left: 15px;
    padding-right: 15px;
}

.nav-button.active {
    border-bottom: 2px solid orange;
}

.nav-button:hover {
    background-color: #555;
    cursor: pointer;
}