.nav-bar {
    
}

.nav-buttons {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    background: #333;
    color: white;
    position: fixed;
    width: 100%;
    z-index: 100;
    top: 0;
    left: 0;
    right: 0;
    overflow-x: auto;
}

.nav-button {
    height: 40px;
    line-height: 40px;
    text-align: center;
    padding-left: 15px;
    padding-right: 15px;
}

.nav-button.active {
    border-bottom: 2px solid orange;
}

.nav-button:hover {
    background-color: #555;
    cursor: pointer;
}

.fade {
    width: 50px;
    height: 40px;
    z-index: 1000;
    display: none;
}

.right {
    position: absolute;
    right: 0;
    background-image: linear-gradient(to right, rgba(0,0,0,0), rgba(0,0,0,1));
}

.left {
    position: absolute;
    left: 0;
    background-image: linear-gradient(to left, rgba(0,0,0,0), rgba(0,0,0,1));
}

@media screen and (max-width: 480px) {
    .nav-buttons {
        justify-content: space-between;
    }
    .fade {
        display: block;
    }
}