
.prop {
    display: block;
    margin-left: 20px;
}

.prop-label {
    display: inline-block;
    color: darkblue;
}

.prop-bracket {
    display: inline-block;
    font-weight: normal;
    margin: 0px 2px;
    color: #555;
}

.prop-input {
    display: inline-block;
    color: darkmagenta;
}

.prop-input * {
    color: darkmagenta;
}

.prop-input-nested {
    display: block;
}