.formatted-table {
    width: 100%;
    text-align: left;
}

.formatted-table th {
    background-color: #336699;
    color: white;
    text-align: center;
    padding: 2px;
}

.formatted-table td {
    padding: 2px;
}

.formatted-table tr:nth-child(even) {
    background-color: #d9e5f2;
}

.formatted-table tr:nth-child(odd) {
    background-color: #c6d8eb
}

.formatted-table caption { 
    display: table-caption;
    text-align: center;
    font-style: italic;
    font-size: 120%;
    padding: 5px;
}