.boolean-input {
  display: inline-block;
  height: 20px;
}

.button {
  display: inline-block;
  cursor: pointer;
}

.separator {
  display: inline-block;
  font-weight: normal;
  cursor: auto;
}

/* States */

.boolean-input .inactive {
  font-weight: normal;
}

.boolean-input .active {
  font-weight: bold;
}