html, body {
    margin: 0;
    padding: 0;
    background-color: white;
    font-family: Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
}

.sample-container {
    
}

.app-body {
    padding: 32px;
    text-align: center;
    max-width: 800px;
    margin: auto;
    background-color: #FFF;
    font-size: 16px
}

h1, h2 {
    border-bottom: 1px solid #eaecef;
    padding-bottom: .3em;
    font-weight: 600;
    line-height: 1.25;
    margin-bottom: 16px;
    margin-top: 24px;
}

.italic {
    font-style: italic;
}