html, body {
    margin: 0;
    padding: 0;
    background-color: white;
    font-family: Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
    overflow:hidden;
}

.sample-container {
    
}

.app-body {
    background-color: #F6F8FA;
    font-size: 16px;
    margin-top: 40px;
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

h1, h2 {
    border-bottom: 1px solid #eaecef;
    padding-bottom: .3em;
    font-weight: 600;
    line-height: 1.25;
    margin-bottom: 16px;
    margin-top: 24px;
}

.italic {
    font-style: italic;
}

.docs-section {
    max-width: 800px;
    margin: auto;
    height: 100%;
    padding: 20px;
    background: white;
    border-left: 1px solid #d1d5da;
    border-right: 1px solid #d1d5da;
    overflow: auto;
}