html, body {
    margin: 0;
    padding: 0;
    background-color: white;
    font-family: Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
    overflow:hidden;
}

::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: #f1f1f1; 
}
::-webkit-scrollbar-thumb {
    background: #888; 
}
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}

.app-body {
    background-color: #ecf2f8;
    font-size: 16px;
    margin-top: 40px;
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

h1 {
    font-weight: 600;
    font-variant-caps: all-small-caps;
}

h2 {
    border-bottom: 1px solid #eaecef;
    padding-bottom: .3em;
    font-weight: 600;
    line-height: 1.25;
    margin-bottom: 16px;
    margin-top: 24px;
}

h3 {
    font-weight: 500;
    margin-top: 48px;
}

.italic {
    font-style: italic;
}

ul, ol {
    text-align: left;
}

.docs-section {
    max-width: 800px;
    margin: auto;
    padding: 30px;
    background: white;
    border-left: 1px solid #d1d5da;
    border-right: 1px solid #d1d5da;
    overflow: auto;
    padding-bottom: 100px;

    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}