
.prop {
    display: block;
    margin-left: 20px;
}

.prop-label {
    display: inline-block;
    color: darkblue;
}

.prop-bracket {
    display: inline-block;
    font-weight: bold;
    margin: 0px 2px;
}

.prop-input {
    display: inline-block;
}

.prop-input-nested {
    display: block;
}